<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-shopping-cart "></i> <span>Online Shopping!</span></a>
    </div>
    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile">
      <div class="profile_pic">
        <img src="assets/img.jpg" alt="..." class="img-circle profile_img" />
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2>John Doe</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li>
            <a id="homeli" (click)="anchorClicked($event)"
              ><i class="fa fa-home"></i> Products <span id="homechevron" class="fa fa-chevron-down"></span
            ></a>
            <ul class="nav child_menu">
              <li><a routerLink="" routerLinkActive="active">Latest Products</a></li>
              <li><a href="index2.html">All Products</a></li>
            </ul>
          </li>
          <li>
            <a id="userli" (click)="anchorClicked($event)">
              <i class="fa fa-user"></i> User 
              <span id="userchevron" class="fa fa-chevron-down"></span
            ></a>
            <ul class="nav child_menu">
              <li><a routerLink="sign-up" routerLinkActive="active">Sign Up</a></li>
              <li><a href="index2.html">Sign In</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>
