<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <ul id="myTabs" class="nav nav-pills nav-justified" role="tablist" data-tabs="tabs">
      <li routerLinkActive="active"><a [routerLink]="'1/'+pageState.ReadOnly"  data-toggle="tab">Show Info</a></li>
      <li routerLinkActive="active"><a [routerLink]="'1/'+pageState.Edit"  data-toggle="tab">Edit Info</a></li>
      <li routerLinkActive="active"><a routerLink="orders"  data-toggle="tab">Orders</a></li>
      <li routerLinkActive="active"><a routerLink="log-out" data-toggle="tab">Log Out</a></li>
    </ul>
    <div class="tab-content" style="border-top: #338ecf solid 1px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>