<section>
  <div class="container mt-5">
    <div class="row" id="form-inputs" style="min-height: 960px;">
      <div class="col-md-2"></div>
      <div class="col-md-8 mx-auto d-block">
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <img src="https://img.icons8.com/cotton/64/000000/groups--v1.png" class="mx-auto d-block">
                <form (ngSubmit)="onAddUser(f)" #f="ngForm">
                  <!-- Name -->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-user pt-3"></i>
                      </div>
                      <div class="col-md-11">
                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0"
                          placeholder="Name" required minLength="10" maxlength="100" [(ngModel)]="user.name"
                          #name="ngModel" name="name">
                      </div>
                    </div>
                  </div>
                  <!-- Family -->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-user pt-3"></i>
                      </div>
                      <div class="col-md-11">
                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0"
                          placeholder="Family" required minLength="10" maxlength="100" [(ngModel)]="user.family"
                          #family="ngModel" name="family">
                      </div>
                    </div>
                  </div>
                  <!-- Email -->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-envelope pt-3"></i>
                      </div>
                      <div class="col-md-11">
                        <input type="email" class="form-control border-top-0 border-left-0 border-right-0"
                          placeholder="Email" required maxlength="150" [(ngModel)]="user.email" #email="ngModel"
                          name="email" email="true">
                      </div>
                    </div>
                  </div>
                  <!-- BirthDate  -->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-calendar  pt-3"></i>
                      </div>
                      <div class="col-md-11">
                        <input type="date" class="form-control border-top-0 border-left-0 border-right-0"
                          placeholder="Family" required minLength="10" maxlength="100" [(ngModel)]="user.birthDate"
                          #birthDate="ngModel" name="birthDate">
                      </div>
                    </div>
                  </div>
                  <!-- PostalCode -->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-barcode  pt-3"></i>
                      </div>
                      <div class="col-md-11">
                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0"
                          placeholder="Postal Code" required [(ngModel)]="user.postalCode" #postalCode="ngModel"
                          name="postalCode">
                      </div>
                    </div>
                  </div>
                  <!-- Address -->
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-1">
                        <i class="fa fa-map-marker pt-3"></i>
                      </div>
                      <div class="col-md-11">
                        <textarea class="form-control border-top-0 border-left-0 border-right-0" name="address"
                          cols="30" rows="5" [(ngModel)]="user.address" #address="ngModel" placeholder="address"
                          required></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <div *ngIf="pageState != userMode.ReadOnly">
                      <button type="submit" class="btn btn-danger" [disabled]="f.invalid">
                        {{pageState == userMode.SignUp?'Sign Up':
                        pageState == userMode.Edit?'Edit':''
                        }}</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>